
.boton_personalizado{
  text-decoration: none;
  padding: 30px;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  background-color:   #e42507;
  border-radius: 30px;
  border: 2px solid #0016b0;
}
.boton_personalizado:hover{
  color:   #e42507;
  background-color:#fff;
}
.divSupLogin{
  width: auto;
  height: 400px;
  background: #137510;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow:hidden;
  border-radius: 1000px;
  border: 2px solid #fff;
}
.divderlogin{
  margin-left: 500px;
  width: 250px;
  height: 300px;
  background:#137510;
  float: left;
  margin: 50PX;
}
.divizqlogin{

  margin: 50PX;
  width: 350px;
  height: 300px;
  background:#137510;
  float: left;
}
.centrado{
  margin-top: 120px;
  margin-left: 100px;
}
.centradoder{
  margin-top: 120px;
}
.imagenSupUser{
  margin-left: 10%;
  width: 80%;
  height: 70%;
  background-color: #35424a;
  border-radius: 50%;
}

.divderUser{

  margin-left: 300px;
  width: 250px;
  height: 300px;
  background:#137510;
  float: left;
  margin: 50PX;
  border-radius: 1000px;
  margin-top: 10%;
}
.divmidUser{

  width: 300px;
  height: 380px;
  background:url('img/scartas.png') no-repeat 0px 0px;
  float: left;
border-radius: 1000px;
  margin-top: 5%;
}
.divizqUser{

  margin: 50PX;
  width: 250px;
  height: 300px;
  background:#b72711;
  float: left;
  border-radius: 1000px;
  margin-top: 10%;
}
.id{
  border-radius: 100px;
  width: 100%;
  height: 100%;
  text-decoration: none;
   padding: 10px;
   font-weight: 600;
   font-size: 20px;
   color: #fff;
   background-color: #1883ba;
   border-radius: 6px;
   border: 2px solid #0016b0;


}
.id:hover{
  color: #fff;
    background-color:  #af3825  ;
}
.cuadrito2{

  height: 10%;
  width: 100%;
  background-color: green;
  border-radius: 100px;
}
.divJuegoEscogeGenSup{
  width: 95%;
  height: 60%;
  margin-left: 3%;
  background-color: green;
  margin-top: 10px;

}
.Divjuego1{
  margin-left: 80px;
  width: 150px;
  height: 220px;
  background:#137510;
  float: left;
  margin: 50PX;
  border-radius: 0px 0px 100px 100px;
  overflow: hidden;

}
.Divjuego2{
  margin-left: 80px;
  width: 150px;
  height: 220px;
  background:#137510;
  float: left;
  margin: 50PX;
  border-radius: 0px 0px 100px 100px;
  overflow: hidden;

}
.Divjuego3{
  margin-left: 80px;
width: 150px;
  height: 220px;
  background:#137510;
  float: left;
  margin: 50PX;
  border-radius: 0px 0px 100px 100px;
overflow: hidden;
}
.Divjuego4{
  margin-left: 80px;
  width: 150px;
  height: 220px;
  background:#137510;
  float: left;
  margin: 50PX;
  border-radius: 0px 0px 100px 100px;
  overflow: hidden;
}
.Divjuego5{
  margin-left: 80px;
  width: 150px;
  height: 220px;
  background:#137510;
  float: left;
  margin: 50PX;
  border-radius: 0px 0px 100px 100px;
  overflow: hidden;

}
.botoncentrao{
  width: 300px;
  height: 70px;
  margin-left: 38%;
}
.loginS{
margin-top: 10%;
width: 50%;
height: 70%;
margin-left: 25%;
background-color: green;
color: #fff;
border-radius: 10px;
}
.loginS p{
  margin-left: 10px;
  color: #000;
  font-size:  27px;
}
.loginS dns{
  color: #fff;
  font-size: 30px;
}
.loginSMid{
  margin-left: 40%;
  width: 30%;
  height: 30%;
  font-size: 35px;
  color:#fff;
  background-color: green;
}
#nBol{
  margin-right: 5px;
  float: right;
  margin-left: 7%;
  border-radius: 10px;
  width: 48%;
  background-color: #35424a;
  color: #fff;
  padding: 5px;
  font-size: 20px;
}
#name{
  margin-right: 5px;
  margin-left: 7%;
  border-radius: 10px;
  width: 48%;
  background-color: #35424a;
  color: #fff;
  padding: 5px;
  font-size: 20px;
  float: right;
}
#pass{
  margin-left: 7%;
  border-radius: 10px;
  width: 46%;
  background-color: #35424a;
  color: #fff;
  padding: 5px;
  font-size: 20px;
}
.linea{
  margin-left: 3%;
  width: 92%;
  height: 10%;
  background-color: #35424a;

  padding:5px;

}
#grup{
  margin-right: 50px;
  width: 180px;
  height: 30px;
  background-color:  #35424a;
  color: #fff;
  font-size: 18px;
  float: right;
}
.botonlogin{
  margin-top: 5%;
  width: 30%;
  margin-left: 35%;
}
.divExito{
  margin-top: 7%;
  width: 40%;
  height: 40%;
  margin-left: 30%;
  background-color: green;
  border-radius: 20px;
  margin-bottom: 9%;
}
.divExito img{
  margin-top: 20px;
  margin-left: 40%;
  border-radius: 1000px;
  width: 20%;
  height: 5%;

}
.medioError{
  margin-left: 36%;
  text-align: center;
  margin-right: 60%;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: green;
  border-radius: 30px;
}
.adentroError{
  margin-left: 30%;
  text-align: center;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  width: 430px;
  height: 300px;
  border-radius: 50px;
}
.adentroError h1 {
color: purple;

font-size : 100px;
font-family:"Badaboom BB","Arial Black";
text-align: center;
}
.adentroError h3 {
color: purple;
color :white;
font-size : 30px;
text-align: center;

}
.divExito h1{
  margin-left: 27%;
  color: #fff;
}
.divExito a{
  color: #fff;
  font-size: 20px;
  margin-left: 25px;
  margin-bottom: 10%;
}
.divExito p1{
  margin-left: 50%;

}
.loginS2{
  margin-top: 5%;
  width: 50%;
  height: 45%;
  margin-left: 25%;
  background-color: green;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 7%;
}
.linea2{
  margin-left: 3%;
  width: 92%;
  background-color: #35424a;
  padding:5px;

}
.loginSMid2{
  margin-left: 40%;
  width: 30%;
  height: 20%;
  font-size: 35px;
  color:#fff;
  background-color: green;
}

.loginS2 p{
  margin-left: 10px;
  color: #000;
  font-size:  27px;
}
.loginS2 dns{
  color: #fff;
  font-size: 30px;
}
#contra{
  float: right;
margin-right: 30px;

  background-color:  #35424a;
  color: #fff;
  width: 250px;
  height: 35px;
border-radius: 5px;
  font-size: 18px;
}
#boleta{
  float: right;
margin-right: 30px;

  background-color:  #35424a;
  color: #fff;
  width: 250px;
  height: 35px;
  font-size: 18px;
  border-radius: 5px;
}
